@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary: #990033;
    --secondary: #ffefcc;
    --secondary-lighter: #fff7e6;
    --primary-darker: #660022;
}

body{
    background-color: var(--primary);
    font-family: 'Poppins';
}

section {
    background-color: var(--secondary);
    margin: 10em auto;
    width: 40em;
    padding: 25px;
    padding-right: 40px;
    border-radius: 10px;
}

.title {
    color: var(--primary-darker);
}

p {
    text-transform: capitalize;
    text-align: justify;
    border-radius: 5px;
    padding: 5px;
}