@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary: #990033;
    --secondary: #ffefcc;
    --secondary-lighter: #fff7e6;
    --primary-darker: #660022;
}

body{
    background-color: var(--primary);
    font-family: 'Poppins';
}

section {
    background-color: var(--secondary);
    margin: 10em auto;
    width: 40em;
    padding: 25px;
    padding-right: 40px;
    border-radius: 10px;
}

h2 {
    font-weight: 800;
    font-size: 30px;
    margin: 0 0 15px auto;
    color: var(--primary);
}

/* p {
    text-align: justify;
} */

div#text {
    margin-bottom: 20px;
}

div#button {
    margin: 30px auto auto 8px;
    width: 100%;
}

button {
    border: none;
    border-radius: 10px;
    background-color: var(--primary);
    color: white;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 2px;
    height: 40px;
    width: 100%;
    font-family: 'Poppins';
    margin-bottom: 25px;
}

button:hover {
    background-color: var(--primary-darker);
    cursor: pointer;
}

input {
    width: 99%;
    height: 25px;
    margin-bottom: 10px;
    border: 2px solid var(--secondary);
    transition: 0.2s;
    border-radius: 6px;
    outline: none;
    background-color: white;
    font-size: medium;
    font-family: 'Poppins';
    padding: 5px 10px;
}

input[type=text]:focus {
    border: 2px solid #990033;
}

label {
    margin-left: 5px;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-darker);
}

input, label {
    display: block;
}

table{
    margin: 0 auto;
    font-size: 18px;
}

th, td {
    width: 73%;
    text-align: left;
}

th{
    color: var(--primary-darker);
}

#results {
    width: 95%;
    color: var(--secondary-lighter);
    background-color: var(--primary-darker);
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    border-radius: 15px;
    margin: 10px 0px 5px 8px;
}

#invalid {
    width: 95%;
    color: var(--primary);
    background-color: var(--secondary-lighter);
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    border-radius: 15px;
    margin: 10px 0px 5px 8px;
}